/*Challenge #41*/

/* delete the following line if no text is used
 edit the line if you wanna use other fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/*use only the available space inside the 400x400 frame*/
body {
    background-color: #b8b5b5;
}
.frame {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  background:  #3F3F3F;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-box {
  position: relative;
  top: 23%;
  left: 15%;
  transform: translate(-50%,-50%) scale(1);

  border-radius: 3px;
  width: 280px;
  height: 210px;

  box-shadow: 0px 2px 3px #887272;
  overflow: hidden;
  background-color: white;
}

.message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.alert-icon {
  width: 44px;
  height: 38px;
  margin-top: 10%;
}

.title-message {
  font-size: 18px;
  margin-top: 5%;
  margin-bottom: -3%;
  text-shadow: 0px 0px 1px black;
}

.message-content {
  width: 200px;
  font-weight: 400;
  font-size: 14px;
}


.button-box {
  width: 100%;
  height: 40px;
  background-color:#F65656;
  text-align: center;
  position: relative;
  top: 3.8%;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.button-box:hover {
  background-color: #EC3434;
}
.button-message {
  color: white;
  display: block;
  position: relative;
  top: 25%;
  text-shadow: 0px 0px 1px white;
}

#main-box {
  transition: all 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#main-box.lastState {
  transform: scale(1);
  opacity: 1;
}

#main-box.firstState {
  transform: scale(0);
  opacity: 0;
}



